<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" href="styles.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .main {
            width: 100%;
            background: url("photo_2023-09-02_01-11-16.jpg");
            background-position: center;
            background-size: cover;
            height: 100vh;
        }
        </style
    
<form class="form">
    <h2>Login Here</h2>
    <input type="email" name="email" placeholder="Email Here" required>
    <input type="password" name="password" placeholder="Password Here" required>
    <button class="btnn" type="submit">Login</button>
    <p class="link">Don't have an account? <a href="#">Sign up here</a></p>
    <p class="liw">Log in with</p>
    <div class="icons">
        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
    </div>
    <script src="about.js"></script>
</form>
</html>