<!DOCTYPE html>
<html lang="en">
<head>
    <title>A4AF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .main {
            width: 100%;
            background: url("photo_2023-09-02_01-11-16.jpg");
            background-position: center;
            background-size: cover;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">A4AF</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{{ url_for('root') }}">HOME</a></li>
                    <li><a href="{{ url_for('chatbot_page')}}">AI BOT</a></li>
                    <li><a href="#SERVICES">SERVICES</a></li>
                    <li><a href="#COMMUNITY">COMMUNITY</a></li>
                    <li><a href="{{ url_for('login_page') }}">LOGIN</a></li>
                </ul>
            </div>
            <div class="search">
                <input class="srch" type="search" name="" placeholder="Search for Food">
                <a href="#"><button class="btn">Search</button></a>
            </div>
        </div>
        <div class="content">
            <h1>Join Us in Overcoming Food Scarcity</h1>
            <p class="par"></p>
            <button class="cn"><a href="#">JOIN NOW</a></button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>